## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401



```
# This is formatted as code
```

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
print(s.split(" "))

['Hi', 'there', 'Sam!']

In [ ]:
a = "Hi there dad!"
print(a.split(" "))

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
t = "The diameter of {planet} is {diameter} kilometers."

In [ ]:
print(t.format(planet = "Earth", diameter = 12742))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(str(lst[3][1][2])[1:-1])

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d["k1"][3]["tricky"][3]["target"][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
print("List are mutable / Tuples are immutable \nList uses [] brackets / Tuple uses () brackets")

List are mutable / Tuples are immutable
List uses [] brackets / Tuple uses () brackets

:** Create a function that grabs the email website domain from a string in the form: **

```
# This is formatted as code
```


    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
a="user@domain.com"
b = a[a.index('@') + 1 : ]

In [ ]:
print(str(b))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
b = input("Enter Text here to check if it contains the word dog:\n")
lst = b.split(" ")
for x in lst:
  x = x.lower()
  if x == "dog":
    print(True)

Enter Text here to check if it contains the word dog:
Dog is here
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
b = "Dog likes dog food because dog wants to eat and play with other dogs"
lst = b.split(" ")
num = 0
for x in lst:
  x = x.lower()
  if(x == "dog"):
    num = num + 1
print(num)

3

# Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
def weeklyPaid(hours_worked, wages):
    if hours_worked > 40:
        return 40 * wages + (hours_worked - 40) * wages * 1.5
    else:
        return hours_worked * wages
 
 
hours_worked = 50
wages = 100
 
pay = weeklyPaid(hours_worked, wages)
 
print(f"Total gross pay: Rs.{pay:.2f} ")

Total gross pay: Rs.5500.00

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
n1={"EMPLOYEE ID": 100,"EMPLOYEE NAME": "RIO","BASIC PAY": 10000}
n2={"DEPARTMENT NAME":"CSE","DEPARTMENT ID":1050}
merge= {}
merge.update(n1)
merge.update(n2)
print(merge)

{'EMPLOYEE ID': 100, 'EMPLOYEE NAME': 'RIO', 'BASIC PAY': 10000, 'DEPARTMENT NAME': 'CSE', 'DEPARTMENT ID': 1050}